@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To Lwam's DevOps Case Study
    </h2>
    <p>I have chosen ASP.NET web app with Contentful headless CMS to pull out students profile such as their name, age, address, the department they’re enrolled in, the degree type, and or the degree phase from Contentful.</p>
    <a asp-controller="Students" asp-action="Index">Check out Our Students</a>
</div>
